{% extends "generic_base.html" %}
{% block title %}About This Website{% endblock %}
{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1>About WhereIsTheMyCiti</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column">
              <p>The timetables and route picker on the current MyCiti website is not mobile-friendly</p>
                <p>Most of the page is covered by menus and unnecessary information for finding the timetable of a specific stop as quick as possible.</p>
                <img src="{{ url_for('static', filename='images/original_picker.png') }}" alt="Original stop picker for MyCiti website">
                <img src="{{ url_for('static', filename='images/original_timetable.png') }}" alt="Original stop timetable for MyCiti website">
            </div>
        </div>
    </div>
{% endblock %}