{% extends "generic_base.html" %}
{% block title %}{{data.stop}} - {{data.day}}{% endblock %}
{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column">
                <span class="h1">Station:</span> {{data.stop}}
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <span class="h2">Date:</span> {{data.date}}
            </div>
        </div>
        <!-- first express, last express, route ends -->
        <!-- if javascript, be able to search -->
        <div class="columns">
            <div class="column">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Arriving</th>
                            <th>Route</th>
                            <th>Direction</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data.rows %}
                        <tr>
                            <!-- <span class="label label-primary">Express</span>  -->
                            <td class="time">{{row[0]}}</td>
                            <td class="bus">{{row[1]}}</td>
                            <td class="direction">{{row[2]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}